<div class="container d-flex  justify-content-center">
  <table class="table  table-hover  text-center">
    <thead>
      <tr class="table-active">
        <th scope="col">#</th>
        <th scope="col">Frist Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>
          <button class="btn btn-success  float-end "> <fa-icon [icon]="icon2"
              [routerLink]="['user/edite' ,user.id]"></fa-icon></button>
          <button class="btn    btn-info  float-end mx-3" [routerLink]="['user/view',user.id]"> <fa-icon
              [icon]="icon3"></fa-icon></button>
          <button class="btn btn-danger  float-end" (click)="DeletUser(user.id)"> <fa-icon
              [icon]="icon1"></fa-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-grid gap-2 col-4 mx-auto my-1">
  <button class="btn btn-success  " [routerLink]="['user/add']">Add User</button>
</div>